<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/api/list" method="post">
    제목 : <input type="text" name="title" placeholder="제목" required>
    contents : <input type="text" name="contents" placeholder="본문" required>
    글쓴이 : <input type="text" name="author" placeholder="글쓴이" required>
    <input type="submit" vlaue="작성">
  </form>
</body>
</html>